<div class="main-container">
  
  <header class="teams-header">
    <h1>Projects</h1>
    
    <div class="create-team-box">
      <input type="text" placeholder="New project name..." #projectNameInput>
      
      <button (click)="createProject(projectNameInput.value); projectNameInput.value=''">
        + Create New Project
      </button>
    </div>
  </header>

  <hr class="separator">

  <div class="teams-grid">
    @for (project of projectsList(); track (project._id || project.id)) {
      <div class="team-card" (click)="enterProject(project._id || project.id)">
        
        <button class="delete-btn-x" (click)="onDeleteProject(project._id || project.id, $event)">✕</button>

        <div class="card-icon">🚀</div>
        <h3>{{ project.name }}</h3>
        <p class="team-id">ID: {{ project._id || project.id }}</p>
        
        <button class="view-tasks-btn">
          View Tasks
        </button>
      </div>
    } 
    @empty {
      <div class="empty-state">
        <p>No projects found in this team yet.</p>
      </div>
    }
  </div>
</div>